body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

.container {
    max-width: 960px;
}


.alert-danger {
    color: #fff;
    background-color: #ff3f49;
    margin: 30px 0;
}

.results img {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 30px auto;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropzone .dz-message {
    font-weight: 400;
}

.dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}

