doctype html
/!if lt IE 7 ]><html class="ie ie6" lang="en">
/!if IE 7 ]><html class="ie ie7" lang="en">
/!if IE 8 ]><html class="ie ie8" lang="en">
/! [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117415017-1"></script>
  //= next.javascripts()
  script
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-117415017-1');
  meta charset='utf-8'
  title= "%s - %s" % (config['SITE_NAME'], config['TAGLINE'])
  meta name='description' content=config['SITE_DESCRIPTION']
  meta name='keywords' content=config['SITE_KEYWORDS']

  // Mobile Specific
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  meta http-equiv="X-UA-Compatible" content="IE=edge"

  // CSS
  link rel="stylesheet" media="print,screen" href='//fonts.googleapis.com/css?family=Open+Sans:400,700,800|Open+Sans+Condensed:300,700'
  link rel="stylesheet" media="print,screen" href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
  link rel="stylesheet" media="print,screen" href='static/dropzone.css'
  link rel="stylesheet" media="print,screen" href='static/application.css'
  /= stylesheet_link_tag 'application', media: 'print,screen'

body
  .text-center
    //a href='/'
    //  img src='static/logo-with-text.svg' alt=("%s - %s" % (config['SITE_NAME'], config['TAGLINE'])) width="50%"

  .navbar.navbar-inverse.navbar-static-top
    .container
      ul.nav.navbar-nav
        li
          a.navbar-link href="mailto:hui.hsu@139.com" target="_blank" Contact us
        li
          a.navbar-link href="https://gitlab.com/huix/leaf-disease-plant-village"  Developement Repository
        //li
          //a.navbar-link href="https://gitlab.com/huix/leaf-disease-plant-village"  Model blog post
        //li
          //a.navbar-link href="https://gitlab.com/huix/leaf-disease-plant-village"  Client side solution

  #content = next.body()



  script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"
  //script src="static/exif.js"
  script src="static/dropzone.js"
  script src="static/application.js"
